BasedOnStyle: LLVM

IndentWidth: 4
ColumnLimit: 120

BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None

IndentAccessModifiers: false

BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4

InsertNewlineAtEOF: true
KeepEmptyLinesAtEOF: true 
